<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8lYT0BYdMJ9PyL4I8Kt_ZE1spuC41mQM</string>
	<key>GCM_SENDER_ID</key>
	<string>638849289790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileAkhir</string>
	<key>PROJECT_ID</key>
	<string>mobile-4ebd7</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-4ebd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638849289790:ios:95b85ebf924848b91acb6f</string>
</dict>
</plist>